@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.logo{
  display: flex;
    align-items: center;
    gap: 25px;
    padding: 10px 0;
}

body {
  background-color: #ffffff;
  color: #000000;
  padding: 30px;
  max-width: 1200px;
  margin: 0 auto;
}

header {
margin-bottom: 30px;
}

.navbar {
  margin-bottom: 25px;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 20px;
}

.nav-links a {
  color: #000000;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
}

h1 {
  font-size: 26px;
  font-weight: normal;
  margin-bottom: 15px;
}


#instrucoes {
  margin-bottom: 30px;
}

.contato form {
  max-width: 500px;
  margin-bottom: 40px;
  background-color: rgba(187, 179, 179, 0.856);
  padding: 10px;
  font-weight: bold;
}

.item-vinho {
  display: flex;
  align-items: center;
  gap: 25px;
  padding: 10px 0;
}

img {
  height: 100px;
  width: auto;
}

.info-vinho h2 {
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 6px;
}

.info-vinho p {
  font-size: 14px;
  color: #333333;
}

h1 {
font-size: 28px;
font-weight: normal;
}

.formulario > p {
font-size: 15px;
color: #333333;
margin-bottom: 25px;
border-bottom: 1px solid #cccccc;
}

form {
max-width: 500px;
margin-bottom: 40px;
}

section h2 {
font-size: 20px;
font-weight: bold;
margin-bottom: 15px;
}

section p {
font-size: 15px;
margin-bottom: 10px;
}

.compra{
font-size: 20px;
font-weight: bold;
margin-bottom: 15px;
}

.caixa{
  display: flex;
  align-items: center;
  gap: 25px;
  padding: 10px 0px 30px;
}

#escolha{
  padding: 0 0 10px 0 ;
}

.formulario h2{
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 15px;
}

.formulario label{
  font-size: 15px;
  margin-bottom: 5px;
}

.compra h2{
  margin-top: 15px;
}

.compra form{
  background-color: rgba(187, 179, 179, 0.856);
  padding: 10px ;
}

.historia h1{
  font-size: 28px;
  font-weight: normal;
  margin-bottom: 15px;
  border-bottom: 2px solid #cccccc;
  padding-bottom: 10px;
}

.historia p{
  font-size: 15px;
    color: #333333;
    margin-bottom: 25px;
}